.space{

    color:white;
    z-index:2;
  

}

.each_workspace{

    width:170px;
    height:fit-content;
    background-color: #04233f;
    margin-bottom:10px;
    border-radius:15px;
    padding:20px;
    margin-left:10px;

} 

.each_workspace h1 {

    color:beige;
 
}


